<div class="container" >
  <header class="header">
    <img src="../assets/img/logo.png" alt="Logo" class="header__logo">
    <app-search-form (search)="onSearch($event)"></app-search-form>
    <div class="likes">
        <app-like-list [likes]="likes"></app-like-list>  
    </div>
  </header>
  <div class="results">
    <div *ngIf="noRecipe && !isSearching">
        <h3 class="heading-2">Searched recipe is not yet available.</h3>
    </div> 
    <app-loader 
        *ngIf="isSearching" 
        [message]="'Searching recipe'">
    </app-loader>
    <app-search-result
        *ngIf="!isSearching && searchResult.length > 0"
        [recipes]="searchResult"
        [selectedRecipeId]="selectedRecipeId">
    </app-search-result>
  </div>
  <div class="recipe">
    <app-loader 
        *ngIf="isRecipeLoading" 
        [message]="'Loading Recipe'">
    </app-loader>   
    <app-recipe-details *ngIf="!isRecipeLoading" [recipe]="recipeDetails"></app-recipe-details>
  </div>
  <div class="shopping">
    <app-shopping-list [shoppingList] ="shoppingList"></app-shopping-list>   
      <div class="copyright">
          &copy; by Jonas Schmedtmann. Powered by
          <a href="http://food2fork.com" target="_blank" class="link">Food2Fork.com</a>.
      </div>

  </div>
</div>
